# Random
**/.env
**/log
**/__pycache__
**/nohup.out
**/.cache
input/
output/
venv/
.conda
.tmp
.DS_Store
*.log
*.logs
**/*.egg-info

# VSCode
.vscode

# PyCharm
.idea/

# Cursor
.cursorrules

# Claude
.claude/
CLAUDE.md

# Jupyter notebook
.ipynb_checkpoints/

# Config
config
test
.todo.txt