# Random
**/.env
**/log
**/__pycache__
**/nohup.out
**/.cache
input/
output/
venv/
.conda
.tmp
.DS_Store
.vscode
*.log
*.logs
**/*.egg-info

# PyCharm
.idea/

# Cursor
.cursorrules

# Jupyter notebook
.ipynb_checkpoints/

# Config
config
test
.todo.txt